transformers>=4.30.0
python-docx>=0.8.11
PyPDF2>=3.0.0
pandas>=1.5.0
numpy>=1.23.0
torch>=2.0.0
fastapi>=0.95.0
uvicorn>=0.21.0
python-multipart>=0.0.6